{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center py-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow">
            <div class="card-body p-4">
                <h2 class="welcome-header text-center mb-3">Registro</h2>
                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="••••••••" name="password"
                            required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}